@import url('https://fonts.googleapis.com/css?family=Pacifico');

.header {
  margin-bottom: 15px;

  #title {
    font-family: 'Pacifico';
    font-size: 37px;
    letter-spacing: 0.08em;
    color: #5d8cc0;
    -webkit-text-fill-color: #1d262f; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #34febb;
  }
}
